<div class="row">
	<div class="col-md-3">
		African Summer School Brussels
<br>LOGO 
<br>Slogan: 
<br>Building Bridges
<br>Shifting Perspectives

	</div>
	<div class="col-md-9">


Bannière sponsor

<hr>

<%= @my_content.about_content %> <%= link_to "Modifier", edit_my_content_path(@my_content), class: "btn btn-default pull-right" %>

</div>
</div>


