<div class="row">
	<div class="col-md-3">
		African Summer School Brussels
<br>LOGO 
<br>Slogan: 
<br>Building Bridges
<br>Shifting Perspectives

	</div>
	<div class="col-md-9">

	menu
<hr>

Bannière sponsor

<hr>

Bénéficiez d’une réduction si vous participez à la 4e édition de l’African Summer School qui aura lieu à Vérone du 29 juillet au 5 août 2016
<br>Visitez leur site Web www.africansummerschool.org

<hr>

News
<div class="row">
	<div class="col-md-6">
		News 1
	</div>
	<div class="col-md-6">
		News 2
	</div>
</div>

</div>
</div>

